@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #333439;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.title {
    font-size: 18px;
}

.subtitle {
    font-size: 14px;
}

.subtitle strong {
    color: #00ff00;
    font-weight: 700;
}

input {
    width: 30px;
    margin-right: 5px;
}

button {
    font-weight: 700; 
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

input, button {
    padding: 0 3px 0 3px;
    font-family: 'Poppins', sans-serif;
    border-color: black;
    border-radius: 5px;
}


#result span {
    font-weight: 700;
}

#result #acertou {
    color: #00ff00;
}

#result #errou {
    color: #ff0000;
}

#tentativas {
    width: max-content;
    margin: auto;
    padding: 3px 5px 3px 5px;
    background-color: #2c3e50;
    border: 1px solid #00ffff;
    border-radius: 20px;
}

#tentativas strong {
    color: #00ffff;
}

#result, #tentativas {
    margin-top: 10px;
    font-size: 10px;
}